.hook-card-misc() {
  .uk-card-model {
    font-size: @base-h6-font-size;
    color: @global-muted-color;
    text-align: center;
    display: block;

    &:hover {
      text-decoration: none;
      .uk-card-title {
        color: @global-link-hover-color;
      }
    }

    .uk-card-title {
      font-size: @base-h6-font-size;
      font-weight: 500;
      margin-bottom: 0;
    }

    .uk-card-body {
      padding: 10px 0;
    }

    .uk-card-img {
      height: 110px;
      display: flex;
      align-items: center;
      justify-content: center;

      img {
        object-fit: contain;
      }
    }
  }
}

.hook-grid-misc() {
  .uk-grid-cars {

  }
}

.hook-section-misc() {
  .uk-section-cars {

  }
}