.hook-card-misc() {
}

.hook-section-misc() {}

.hook-grid-misc() {
    .uk-col-contacts {
        font-size: 14px;

        .uk-contact-title {
            font-size: 14px;
            color: @global-muted-color;
            margin: 15px 0 0;
            font-weight: 300;
        }

        .uk-phone-holder {
            border-bottom: 3px solid @global-border;
            margin-bottom: 40px;
        }

        .uk-phone-block {
            margin-bottom: 30px;
        }

        .uk-contact-phone {
            font-weight: 500;
            font-size: 22px;
            color: @global-color;
            display: block;

            &:last-child {
                margin-bottom: 0;
            }

            &:hover {
                color: @global-color;
            }
        }

        .uk-working-hours {
            font-weight: 500;
        }

        .uk-contact-block {
            margin-bottom: 30px;
        }

        .uk-contact-site,
        .uk-contact-email {
            font-size: 18px;
        }

        .uk-social-networks {
            list-style: none;
            padding-left: 0;
            margin: 0;
            font-weight: 500;

            li {
                margin-bottom: 10px;
            }
        }
    }
}
