.hook-section-misc() {
  .uk-hero-dealer {
    min-height: 360px;
    .uk-hero-description {
      opacity: 0.6;
      font-size: 16px;
      line-height: 1.2;
      margin-top: -0.5em;
      margin-left: 0.2em;
      font-weight: 300;
    }
    .uk-hero-body {
      display: flex;
      align-items: flex-end;
    }
  }

  .uk-hero-dealer-secondary {
    .uk-hero-object {
      height: 0;
    }
  }
}

.hook-grid-misc() {}


.hook-tab-misc() {
  .uk-tab-dealers {
    flex-wrap: nowrap;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
  }
}