.hook-card-misc() {
  .uk-card-partner {
    display: flex;
    // justify-content: center;
    align-items: center;
    filter: grayscale(1);
    opacity: .3;
  }
}

.hook-section-misc() {
  
}

.hook-grid-misc() {
  .uk-partners-highlight {
    overflow: visible;

    .swiper-slide {
      width: 16%;
      min-width: 80px;
    }
  }
}