.hook-card-misc() {
  .uk-card-partner {
    display: flex;
    align-items: center;
    filter: grayscale(1);
    opacity: .3;

    &.uk-card-partner-2 {
      justify-content: center;
      padding: 30px 20px;
      border: @global-border-width solid @global-border;
      border-radius: 10px;
      filter: none;
      opacity: 1;
      height: 150px;
      box-sizing: border-box;
      &:hover {
        border-color: @global-warning-background;
        box-shadow: 0 0 0 2px @global-warning-background;
      }
    }
  }
}

.hook-section-misc() {
  
}

.hook-grid-misc() {
  .uk-partners-highlight {
    overflow: visible;

    .swiper-slide {
      width: 16%;
      min-width: 80px;
    }
  }
}