.hook-card-misc() {
  .uk-card-info {
   position: relative;
   min-height: 250px;
   border-radius: 10px;
   overflow: hidden;
    @media (min-width: 640px) {
      min-height: 300px;
    }
    @media (min-width: 960px) {
      min-height: 375px;
    }

    p {
      margin-top: 0;
    }
   
    .uk-card-background {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;

      img {
        object-fit: cover;
        width: 100%;
        height: 100%;
      }
    }
    .uk-card-overlay {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      opacity: 0.85;
    }
    .uk-card-foreground {
      position: relative;
      box-sizing: border-box;
      min-height: inherit;
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding: 30px;

      @media (min-width: 960px) {
        padding: 60px;
      }
    }
    .uk-card-title {
      margin-bottom: 10px;

      @media (min-width: 960px) {
        font-size: 40px;
      }
    }
    &.uk-card-info-2 {
      color: @global-muted-color;

      .uk-card-title {
        color: @global-color;
      }

      .uk-card-foreground {
        justify-content: flex-start;
        padding: 30px; 

        @media (min-width: 960px) {
          padding: 20px 40px 80px 80px;
        }
      }
    }

    .uk-card-icon {
      position: absolute;
      right: 0;
      width: 150px;
      height: 150px;
      z-index: -1;
      top: 30px;
      @media (min-width: 960px) {
        top: 85px;
        width: 200px;
        height: 200px;
      }
      svg {
        width: 100%;
        height: 100%;
        fill: @global-muted-background;
      }
    }
  }

  .uk-card-service {
    padding: 20px;
    border: @global-border-width solid @global-border;
    border-radius: 10px;
    display: flex;
    align-items: center;

    &:hover {
      border-color: @global-warning-background;
      box-shadow: 0px 0px 0px 2px @global-warning-background;
    }

    @media (min-width: 640px) {
      padding: 35px;
    }
  }

  .uk-card-certificate {
    display: flex;
    align-items: flex-start;
    justify-content: center;
  }

}

.hook-grid-misc() {
  .uk-info-box {
    .uk-row {    
      @media (min-width: 960px) {
        margin-top: 0; 
        display: flex;

        &:first-child {
          .uk-card-info {
            z-index: 1;
          }
        } 
  
        &:nth-child(2n) {
          flex-direction: row-reverse;
          margin-top: -55px;
          
          .uk-card-icon {
            top: auto;
            right: 60px;
            bottom: 65px;
          }
          
          .uk-card-info-2 {
            .uk-card-foreground {
              padding: 80px 60px 30px 0;
              justify-content: flex-end;
            }
          }
        } 
        .uk-col {
          width: 48%;
          &:first-child {
            width: 52%;
          }
        }
      }
    }
  }

  .uk-info-2 {
    .uk-row {
      @media (min-width: 960px) {
        &:first-child {
          flex-direction: row-reverse;

          .uk-card-info-2 {
            .uk-card-foreground {
              padding: 40px 80px 80px 0;
            }
          }
        } 

        &:nth-child(2n) {
          flex-direction: row;
          margin-top: -55px;

          .uk-card-info {
            z-index: 1;
          } 

          .uk-card-info-2 {
            .uk-card-foreground {
              padding: 80px 60px 30px 40px;
              justify-content: center;
            }
          }
        } 
      }
    }
  }
}

.hook-section-misc() {
  .uk-services {
    h3 {
      @media (min-width: 960px) {
        margin-bottom: 50px;
      }
    }
  }
}