<div class="uk-menus">
    <div class="uk-menu-primary">
        <ul class="uk-menu-list" data-uk-sticky>
            <li class="uk-active"><a href="#" id="toggle-car-dealerships">{{Icon iconName="cardealers"}} Автосалоны</a></li>
            <li><a href="#" id="toggle-cargo-vehicles">{{Icon iconName="trucks"}} Грузовая техника</a></li>
            <li><a href="#">{{Icon iconName="services"}} Все услуги</a></li>
            <li><a href="#" id="toggle-secondary">{{Icon iconName="information"}} О компании</a></li>
        </ul>
    </div>
    
    <div class="uk-menu-body">
        <div class="uk-menu-dealers {{#if dealers}}uk-menu-dealers-static{{/if}} uk-dropdown" data-uk-dropdown="toggle: #toggle-car-dealerships; boundary: .uk-menu-body; boundary-align: true; pos: top-left; mode: click">
            <ul class="uk-menu-list" data-uk-sticky>
                <li><a href="#"><img src="%=static=%img/content/mercedes-benz.png" alt="">Mercedes-Benz</a></li>
                <li><a href="#"><img src="%=static=%img/content/vw.png" alt="">Volkswagen</a></li>
                <li><a href="#"><img src="%=static=%img/content/renault.png" alt="">Renault</a></li>
                <li><a href="#"><img src="%=static=%img/content/skoda.png" alt="">Skoda</a></li>
                <li><a href="#"><img src="%=static=%img/content/mitsubushi.png" alt="">Mitsubushi</a></li>
            </ul>
        </div>
        <div class="uk-menu-dealers uk-dropdown" data-uk-dropdown="toggle: #toggle-cargo-vehicles; boundary: .uk-menu-body; boundary-align: true; pos: top-left; mode: click">
            <ul class="uk-menu-list" data-uk-sticky>
                <li><a href="#"><img src="%=static=%img/content/mercedes-benz.png" alt="">Mercedes-Benz</a></li>
                <li><a href="#"><img src="%=static=%img/content/vw.png" alt="">Volkswagen</a></li>
                <li><a href="#"><img src="%=static=%img/content/renault.png" alt="">Renault</a></li>
                <li><a href="#"><img src="%=static=%img/content/skoda.png" alt="">Skoda</a></li>
                <li><a href="#"><img src="%=static=%img/content/mitsubushi.png" alt="">Mitsubushi</a></li>
            </ul>
        </div>
        <div class="uk-menu-secondary uk-dropdown" data-uk-dropdown="toggle: #toggle-secondary; boundary: .uk-menu-body; boundary-align: true; pos: top-left; mode: click">
            <ul class="uk-menu-list" data-uk-sticky>
                <li><a href="#">История компании</a></li>
                <li><a href="#">Наша философия</a></li>
                <li><a href="#">Истории успеха сотрудников</a></li>
                <li><a href="#">Руководство</a></li>
                <li><a href="#">Партнеры</a></li>
                <li><a href="#">Сотрудничество</a></li>
                <li><a href="#">Вакансии</a></li>
                <li><a href="#">Сувениры</a></li>
                <li><a href="#">Контакты</a></li>
            </ul>
        </div>
    </div>
    
</div>