.uk-filter {}

.uk-filter-controls {
  margin-bottom: 60px;
}
.uk-filter-price {
  margin-bottom: 60px;
}
.uk-filter-result {
  font-size: 22px;
  line-height: normal;
  font-weight: normal;
  margin-bottom: 30px;
}