.hook-heading-misc {
  .uk-heading {
    margin-bottom: 60px;
  }

  .uk-heading-title {
    margin-bottom: 15px;
  }

  .uk-heading-suptitle {
    font-size: 22px;
    font-weight: 100;
    margin-bottom: 8px;

    + .uk-heading-title {
      margin-top: 0;
    }

  }

}