.uk-price {
  max-width: 440px;
}

.uk-price-inputs {
  display: flex;
  align-items: center;
  margin-bottom: 40px;
}

.uk-price-divider {
  height: 1px;
  width: 40px;
  margin: 20px;
  background-color: #D9DADD;
}